<!doctype html>
<html lang="en">
{% include 'includes/head.html' %}
<body>

<!--================Header Menu Area =================-->
{% include 'includes/navbar.html' %}
<!--================End Header Menu Area =================-->


<!--================Home Banner Area =================-->



{% block banner_area %}
{% endblock %}


<!--================End Home Banner Area =================-->

{% block content %}
{% endblock %}

<!--================Footer Area =================-->
{% include 'includes/footer.html' %}
<!--================End Footer Area =================-->

{% block contact_extra_scripts %}
{% endblock %}


</body>
</html>